<!DOCTYPE html>
<!-- here we want to see orders that have been checked out but not yet accepted by the retailer-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orders</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            font-family: Arial;
        }
        /* Style the tab */
        
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        /* Style the buttons inside the tab */
        
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
        /* Change background color of buttons on hover */
        
        .tab button:hover {
            background-color: #ddd;
        }
        /* Create an active/current tablink class */
        
        .tab button.active {
            background-color: #ccc;
        }
        /* Style the tab content */
        
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>

<body>
    <%- include('partials/navbarTop') %>
        <%- include('partials/navbarSide') %>

            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openOrderType(event, 'Incoming')">Incoming Orders</button>
                <button class="tablinks" onclick="openOrderType(event, 'Ongoing')">Ongoing Orders</button>
                <button class="tablinks" onclick="openOrderType(event, 'Completed')">Completed Orders</button>
                <button class="tablinks" onclick="openOrderType(event, 'Cancelled')">Cancelled Orders</button>
            </div>
            <div id="Incoming" class="tabcontent">
                <h3>London</h3>
                <p>London is the capital city of England.</p>
            </div>
            <!-- Tab content id will come from tab above and should be embedded-->
            <div id="ejs Embed id" class="tabcontent">
                <!-- Render the order in a row of cards -->
                <% pageObject.forEach((pageOrder)=>{ %>
                    <div class="card">
                        <img src="data:image/<%=pageOrder.img.contentType%>;base64, 
					    <%=pageOrder.img.data.toString('base64')%>" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Customer</b></h4>
                            <div>items ordered</div>
                            <p>Total</p>
                        </div>
                    </div>
                    <% }) %>
            </div>





            <!-- <div class="container">
                <div class="wrapper">
                    <% order-pending.forEach((order)=>{ %>
                        <div class="order">
                            <img src="data:image/<%=image.img.contentType%>;base64, 
					    <%=image.img.data.toString('base64')%>">
                            <div>
                                <h5>
                                    <%= order.id %>
                                </h5>
                                <p>
                                    <%= order.desc %>
                                </p>
                            </div>
                        </div>
                        <% }) %>
                </div>

            </div> -->
            <script>
                function openOrderType(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
            <%- include('partials/footer') %>
</body>

</html>